.App, .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}


.login, .register {
  margin: 0 auto;
  margin-top: 30px;
  width: 50%;
  text-align: center;
}

.loginInput, .registerInput {
  width: 100%;
  height: 20px;
  margin: 10px;
}

.buttonLogin, .buttonRegister {
  width: 70%;
  font-size: 20px;
  margin: 10px;
  background-color: deepskyblue
}

.wrapper {
  width: 100%;
}

.navbar {
  height: 200px;
  width: 100%;
  background-color: "black";
}






  

